<div class="card radius-10">
    <div class="card-header">
        <h5>Transferencias realizadas</h5>
    </div>
    <div class="card-body">
      <div class="table-responsive mt-4">
        <table class="table align-middle mb-0 table-hover" id="InventoryRegisterTable">
          <thead class="table-light">
            <tr>
              <th>Estado</th>
              <th>Fecha</th>
              <th>Sucursal</th>
              <th>Creado por</th>
              <th>Notas</th>
              <th>Cantidad</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of dataTransfers | paginate: { itemsPerPage: pagSize, currentPage: pagPage, totalItems: pagTotal }">
              <td>
                <div class="">
                  <div *ngIf="data.status=='FAI'" class="badge rounded-pill bg-danger w-100">Error</div>
                  <div *ngIf="data.status=='DNE'" class="badge rounded-pill bg-success w-100">Transferido</div>
                  <div *ngIf="data.status=='INI'" class="badge rounded-pill bg-secondary w-100">Inicial</div>
                </div>
              </td>
              <td>{{ data.created_date | date:'dd/MM/yyyy h:mm a' }}</td>
              <td>{{ data.branch }}</td>
              <td>{{ data.created_by }}</td>
              <td>{{ data.notes }}</td>
              <td class="cell-currency"><div class="me-4">{{ data.quantity }}</div></td>
              <td class="cell-currency"><div class="me-4">{{ data.total | currency }}</div></td>
            </tr>
          </tbody>
        </table>
        <div class="d-flex align-items-center">
          <pagination-controls class="mt-3" (pageChange)="pageChangeEvent($event)"
            previousLabel="Previo"
            nextLabel="Siguiente">
          </pagination-controls>
          <div class="ms-auto">{{ pagMessage }}</div>
        </div>
      </div>
    </div>
    <div class="card-footer">
    </div>
</div>
<div class="card radius-10">
    <div class="card-header">
        <div class="row">
            <div class="col">
                <h5>Transferencia</h5>
            </div>
            <div class="col">
                <div class="input-group input-group-sm position-relative">
                    <label class="input-group-text" for="inputClient" style="width:120px; display:block;">Surcursal</label>
                    <select class="form-select" id="inputClient" [(ngModel)]="currentBranch" (change)="changeBranch()">
                        <option *ngFor="let branch of branches" [ngValue]="branch">{{branch.name}}</option>
                    </select>
                </div>
            </div>

            <div class="col cell-action">
                <button class="btn btn-success btn-sm me-2" [disabled]="!btnTransferDisable"
                        data-bs-toggle="modal" 
                        data-bs-target="#modalConfirm">
                    Transferir
                </button>
                <button class="btn btn-primary btn-sm" [disabled]="!btnTransferDisable" (click)="cancelTrasfer();">
                    Cancelar
                </button>
            </div>
        </div>
    </div>
    <div class="card-body">
        
        <div class="row">
            <div class="col-lg-6 col-xl-6">
                <div class="card radius-10">
                    <div class="card-header">
                        <h6>Actículos disponibles</h6>
                    </div>
                    <div class="card-body">
                        <div class="product-list pt-3" [perfectScrollbar] >
                            <div *ngFor="let data of dataBinding">
                              <div class="row border ms-0 me-3 mb-3 py-1 radius-10 cursor-pointer" (click)="addToCart(data)">
                                <div class="col-sm-9">
                                  <div class="d-flex align-items-center">
                                    <div class="ms-2">
                                      <p class="mb-0">{{ data.description }}</p>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-sm">
                                  <div class="float-end" >
                                    <p class="mb-0 text-muted">{{ getStock(data) }} Disponibles</p>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                    </div>
                    <div class="card-footer">

                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xl-6">
                <div class="card radius-10">
                    <div class="card-header">
                        <h6>Artículos seleccionados</h6>
                    </div>
                    <div class="card-body">
                        <div class="product-list pt-3" [perfectScrollbar] >
                            <div *ngFor="let data of dataCart ">
                              <div class="row border ms-0 me-3 mb-3 py-2 radius-10 cursor-pointer" >
                                <div class="col-1">
                                  <button type="button" 
                                    class="btn btn-primary" 
                                    data-bs-toggle="modal" 
                                    data-bs-target="#modalQuantity"
                                    (click)="$event.preventDefault(); updateQtyModal(data);">{{ data.quantity }}</button>
                                </div>
                                <div class="col ms-3 mt-2">
                                    <div class="">{{ data.description }}</div>
                                </div>
                                <div class="col-1">
                                  <div class="list-inline d-flex order-actions">
                                    <a href="remove" (click)="$event.preventDefault();  removeUnit(data)" class="text-danger list-inline-item"><i class='lni lni-cross-circle'></i></a>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                    </div>
                    <div class="card-footer">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer">
    </div>
</div>


<!-- Modal: modalQuantity -->
<div class="modal fade" id="modalQuantity" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Cantidad</h5>
        <button type="button" 
          class="btn-close"
          data-bs-dismiss="modal" 
          aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <input id="inputQty" #inputQty
          class="form-control mb-3"
          type="text" 
          placeholder="Cantidad" 
          aria-label="default input example" 
          (keypress)="inputNumberOnly($event)"
          (keyup.enter)="btnAdd.click()"
          [(ngModel)]="inputQuantity" >
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button #btnAdd 
                type="button" 
                class="btn btn-primary" 
                data-bs-dismiss="modal" 
                href="Actualizar" 
                (click)="$event.preventDefault(); addQtyFromModal()">Actualizar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal: modalConfirm -->
<div class="modal fade" id="modalConfirm" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirmación de transferencia</h5>
        <button type="button" 
          class="btn-close"
          data-bs-dismiss="modal" 
          aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <input id="inputQty" #inputQty
          class="form-control mb-3"
          type="text" 
          placeholder="Comentario" 
          aria-label="default input example" 
          [(ngModel)]="transferComment" >
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button #btnAdd 
                type="button" 
                class="btn btn-success" 
                data-bs-dismiss="modal" 
                href="Actualizar" 
                (click)="$event.preventDefault(); makeTransfer()">Transferir</button>
      </div>
    </div>
  </div>
</div>