<div class="bg-login">
  <!--wrapper-->
  <div class="wrapper">
    <div class="section-authentication-signin d-flex align-items-center justify-content-center my-5 my-lg-0">
      <div class="container-fluid">
        <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-3">
          <div class="col mx-auto">
            <div class="card">
              <div class="card-body">
                <div class="border p-4 rounded">
                  <div class="text-center">
                    <h3 class="">Bienvenido a</h3>
                  </div>
                  <div class="text-center mb-5">
                    <img src="assets/images/logozm.png" width="380" alt="" />
                  </div>
                  <div class="form-body">
                    <form *ngIf="!isLoggedIn" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate class="form row g-3">
                      <div class="col-12">
                        <label for="inputPhone" class="form-label">Teléfono</label>
                        <input id="inputPhone" type="text" class="form-control" name="phone" [(ngModel)]="form.phone"
                          required #phone="ngModel" [ngClass]="{ 'is-invalid': f.submitted && phone.errors }"
                          placeholder="Teléfono" />
                      </div>
                      <div class="col-12 mb-5">
                        <label for="inputPassword" class="form-label">Contraseña</label>
                        <input id="inputPassword" type="password" class="form-control" name="password"
                          [(ngModel)]="form.password" required #password="ngModel"
                          [ngClass]="{ 'is-invalid': f.submitted && password.errors }" placeholder="Contraseña" />
                      </div>
                      <div class="col-md-6">
                        <div class="form-check form-switch">
                          <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" [(ngModel)]="isPersistent" [ngModelOptions]="{standalone: true}" >
                          <label class="form-check-label" for="flexSwitchCheckChecked">Recordarme</label>
                        </div>
                      </div>
                      <div class="col-md-6 text-end"> <a href="JavaScript:;" (click)="onForgotpassword()">¿Olvidaste tu contraseña?</a>
                      </div>
                      <div class="col-12">
                        <div class="d-grid">
                          <button type="submit" class="btn btn-primary btn-lg"><i
                              class="bx bxs-lock-open"></i>Entrar</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--end row-->
      </div>
    </div>
  </div>
  <!--end wrapper-->
</div>