<div class="card radius-10">
  <div class="card-header">
    <div class="row">
      <div class="col">
        <h5>Entrada y Salida de Inventario</h5>
      </div>
      <div class="col cell-action">
        <label class="btn btn-default p-0">
          <input id="fileControl" type="file" (change)="selectFile($event)" />
        </label>
      </div>

      <div class="col cell-action">
        <button class="btn btn-success btn-sm me-2" [disabled]="!selectedFiles" (click)="upload()">
          Cargar archivo
        </button>
        <button class="btn btn-primary btn-sm" (click)="downloadTemplate()">
          Descargar plantilla
        </button>
      </div>
    </div>

    <div *ngIf="currentFile" class="progress my-3">
      <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar"
        attr.aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{ width: progress + '%' }">
        {{ progress }}%
      </div>
    </div>

    <div *ngIf="message" class="alert alert-secondary" role="alert">{{ message }}</div>

  </div>
  <div class="card-body">
    <div class="d-lg-flex align-items-center mb-4 gap-3 col-xl-3 ">
      <div class="position-relative search-bar-box">
        <input [(ngModel)]="filterValue" (keyup.escape)="onKeyFilterEscape()" (keyup)="onKeyFilter($event)" type="text"
          name="search" class="form-control search-control" placeholder="Buscar..."> <span
          class="position-absolute top-50 search-show translate-middle-y"><i class='bx bx-search'></i></span>
        <span class="position-absolute top-50 search-close translate-middle-y"><i class='bx bx-x'></i></span>
      </div>
    </div>
    <div class="table-responsive mt-4">
      <table class="table align-middle mb-0 table-hover" id="InventoryRegisterTable">
        <thead class="table-light">
          <tr>
            <th>Estado</th>
            <th>Archivo</th>
            <th>Creado por</th>
            <th>Registros</th>
            <th>Fecha</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let data of fileInfos | pipeRegister:filterValue:filteredCount | paginate: { itemsPerPage: pagSize, currentPage: pagPage, totalItems: pagTotal }">
            <td>
              <div class="">
                <div *ngIf="data.status=='FAI'" class="badge rounded-pill bg-danger w-100">Error</div>
                <div *ngIf="data.status=='DNE'" class="badge rounded-pill bg-success w-100">Procesado</div>
                <div *ngIf="data.status=='INI'" class="badge rounded-pill bg-secondary w-100">Cargado</div>
              </div>
            </td>
            <td>{{ data.file.original_name }}</td>
            <td>{{ data.file.created_by }}</td>
            <td class="cell-currency">
              <div class="me-4">{{ data.rec_total }}</div>
            </td>
            <td>{{ data.created_date | date:'dd/MM/yyyy h:mm a' }}</td>
            <td>
              <div class="list-inline d-flex order-actions">
                <a href="download" (click)="$event.preventDefault(); downloadFile(data)"
                  class="list-inline-item me-4"><i class='lni lni-download'></i></a>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="d-flex align-items-center">
        <pagination-controls class="mt-3" (pageChange)="pageChangeEvent($event)" previousLabel="Previo"
          nextLabel="Siguiente">
        </pagination-controls>
        <div class="ms-auto">{{ pagMessage }}</div>
      </div>
    </div>
  </div>
</div>